.display {
  display: flex;
  justify-content: center;
}
.none {
  display: none;
}
.list-btn {
  margin: 10px 0px 10px 10px
}
.add-btn {
  margin: 10px 0px 10px 0px;
}
button {
  margin-right: 10px;
}
.task-detail {
  margin: 40px auto 0 auto;
}
.button-group {
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
}
.new-task-detail {
  margin: 40px auto 0 auto;
}